google-generativeai
python-dotenv
SpeechRecognition
edge-tts
pygame
pyaudio
sounddevice
numpy
requests
psutil
pyautogui
pyperclip
pywhatkit
wikipedia
pyjokes
screen-brightness-control
comtypes
pycaw
pillow
beautifulsoup4
win10toast
plyer
youtube-transcript-api
